.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #05070b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 4px 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.AppFooter{
height: 50px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-top: 1px solid rgba(0, 0, 0, 0.15);

}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.05) ;
}
.SideMenu{
  height: 100%;
}
.SideMenuVertical{
  height: 100%;
}
.PageContent{
  padding-left: 12px;
}


.content{
  margin-top: 6rem;
  padding: 1rem;
  width: 100%;
}
.spinner-container{
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  height: 60vh; /* Full viewport height to center vertically */
}

.right-content{

}
.dashbordWrapper{
  gap: 20px;
  width: 100%;
  flex-wrap: wrap;
}
.dashbordWrapper .dashbordBox{
  width: 47%;
  height: 200px;
border-radius: 10px ;
overflow: hidden;
padding: 20px;
display: flex;
flex-direction: column;
justify-content: space-around;
}
.dashbordWrapper .dashbordBox .col1 h4 {
  font-size: 20px;
  font-weight: 600;
}
.dashbordWrapper .dashbordBox .col1 span  {
  font-size: 40px !important;
  font-weight: bold;
  line-height: 45px;
}
.dashbordWrapper .dashbordBox .icon{
display: flex;
align-items: center;
justify-content: center;
width: 45px;
height: 45px;
border-radius: 5px;
}
.dashbordWrapper .dashbordBox .icon svg {
  font-size: 45px;
  opacity: 0.1;
  color: #000;
  /* margin-left: 300%; */

}
.dashbordWrapperRow .box{

   background-image: linear-gradient(#1e5dd0,#125be8);
  border-radius: 10px;
  padding: 25px;


}
.dashbordWrapper .dashbordBox .toggleIc{
  width: 100%;
  height: 100%;
  background: #ccc;
}
/* .dashbordWrapper .dashbordBox .chart{

   z-index: ;
}*/
.dashbordWrapper .dashbordBox .chart svg{
  
opacity: 0.2; 
 color: #fff;

} 
.dashbordWrapperRow .box .graphBoxchart{
 font-size: 150px;
 color: #fff;
  opacity: 0.7;

}
 .dashbordWrapperRow .box h4{
  font-size: 24px;
  font-weight: 600;
} 
.dashbordWrapperRow .box .graphBoxchart{
  /* font-size: 13;
  color: #fff;
  opacity: 0.7; */
  font-size: 150px;
  opacity: 0.1;
  color: #000;

} 

/* @media screen and (max-width: 420px) {
  .main .sidebarWrapper .sidebar {
    width: 14%;

  }
  .sidebar {
    margin-left: 0px;

  }
  .sidebar-change {
    margin-left: 0px;
  }
} */


